<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- /referencia a partials-->
        {{>head}}
        <title>Versario's App</title>
    </head>
    <body>
        <!-- /referencia a partials-->
        {{>navbar}}
        <!-- /referencia a views-->
        <div class="container">
            {{{body}}}
        </div>
        <div class="container">
            {{>footer}}
        </div>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>