<div class="page-header">
    <h3>About</h3>
</div>
<div class="container-fluid">
    <p>Esta pagina tiene como objetivo subir distintas aplicaciones de todo tipo.</p>
    <p>Si estas interesado/a en subir una, no dudes en contactarme.</p>
    <a>pablogaticastuart@gmail.com</a>
</div>