
<div id="post" class="container-fluid" style="background-color: #222;">
    <div id="post-header" class="page-header">
        <h2><center>Algoritmo Genetico</center></h2>
        <div>
            <center>
            <p><i class="glyphicon glyphicon-user"></i> 
                Por Versario
                <i class="glyphicon glyphicon-calendar"></i>
                 El 12/04/2017
            </p>
            </center>
        </div>
    </div>
    <center>
    <div class="container-fluid" id="genetic-algorithm-container">
    </div>
    </center>
<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/p5.js"></script>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.8/addons/p5.dom.js"></script>
<script language="javascript" type="text/javascript" src="/genetic/sketch.js"></script>
<script language="javascript" type="text/javascript" src="/genetic/Population.js"></script>
<script language="javascript" type="text/javascript" src="/genetic/DNA.js"></script>
<script language="javascript" type="text/javascript" src="/genetic/Player.js"></script>
</div>
