<div class="page-header">
    <h3>Home</h3>
</div>
<div class="container-fluid">
    <a style="color: white;" href="genetic-algorithm">
    <div class="jumbotron" style="background-image: url('maxresdefault.jpg');">
        <div class="row">
            <div class="col-sm-12" style="text-align: center; border-bottom: 1px solid black" >
                <h1> Algoritmo Genetico </h1>
            </div>
        <div class="row">       
            <div class="col-sm-12" style="text-align: center">
                <br>
                <p> Implementacion de un algoritmo genetico utilizando p5js </p>
            </div> 
        </div>    
        </div>      
    </div>
    </a>    
</div>
